<aside
  class="bg-white dark:bg-dark-mid w-full h-full border-r border-r-grey-light dark:border-r-dark-light flex flex-col justify-between"
>
  <section class="pr-[2rem]">
    <p class="pl-[2rem] text-grey text-[.75rem] tracking-[.4em] py-[1rem]">
      All Boards ({{ boards.length }})
    </p>

    @for (board of boards; track board.name; let i = $index) {
      <button
        (click)="selectBoard(i)"
        class="w-full flex items-center gap-[1rem] pl-[2rem] py-[.75rem] text-[.9rem] font-[500] rounded-r-full cursor-pointer"
        [class]="activeIndex === i ? 'bg-primary text-white' : 'text-grey hover:text-primary'"
      >
        <img
          [src]="activeIndex === i ? '/images/icon-board-light.svg' : '/images/icon-board.svg'"
          alt="Board icon"
        />
        {{ board.name }}
      </button>
    }

    <button
      class="flex items-center gap-[1rem] pl-[2rem] py-[.75rem] text-primary text-[.9rem] font-[500] cursor-pointer"
      (click)="handleBoardFormOpen()"
    >
      <img src="/images/icon-board-primary.svg" alt="Board icon" /> + Create New Board
    </button>
  </section>

  <section class="px-[2rem]">
    <section
      class="flex items-center justify-center gap-[1rem] bg-grey-lighter dark:bg-dark py-[.75rem] rounded-[.325rem]"
    >
      <img src="/images/icon-light-theme.svg" alt="Light Theme Icon" />

      <label class="switch">
        <input type="checkbox" [checked]="isDark" (change)="toggleTheme()" />
        <span class="slider round"></span>
      </label>

      <img src="/images/icon-dark-theme.svg" alt="Dark Theme Icon" />
    </section>

    <button
      class="flex items-center justify-center gap-[.75rem] text-grey font-[500] text-[.9rem] py-[1rem] mb-[2rem]"
    >
      <img src="/images/icon-hide-sidebar.svg" alt="Hide Sidebar Icon" /> Hide Sidebar
    </button>
  </section>

  @if (isClicked) {
    <section
      (click)="handleBoardFormClose()"
      class="fixed inset-0 z-10 bg-black/40 cursor-pointer"
    ></section>

    <section
      class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[30rem] p-[2rem] bg-white dark:bg-dark-mid rounded-[.3rem] z-20 flex flex-col gap-[1rem]"
    >
      <h2 class="text-[1.2rem] font-[500] dark:text-white">Add New Board</h2>

      <form class="flex flex-col gap-[1rem]">
        <label
          for=""
          class="flex flex-col gap-[.5rem] text-[.8rem] text-grey dark:text-white font-[500]"
        >
          Name

          <input
            type="text"
            placeholder="e.g. Web Design"
            class="w-full text-[1rem] border border-slate-200 dark:border-dark-light pl-[.5rem] py-[.5rem] rounded-[.2rem] font-[400]"
          />
        </label>

        <label
          for=""
          class="flex flex-col gap-[.5rem] text-[.8rem] text-grey dark:text-white font-[500]"
        >
          columns

          <section class="flex items-center gap-[1rem]">
            <input
              type="text"
              placeholder="e.g. Todo"
              class="w-full text-[1rem] border border-slate-200 dark:border-dark-light pl-[.5rem] py-[.5rem] rounded-[.2rem] font-[400]"
            />
            <img src="/images/icon-cross.svg" alt="delete column" />
          </section>
        </label>

        <button
          class="px-[1.3rem] py-[.7rem] rounded-full text-[.8rem] bg-grey-light dark:bg-white text-primary font-[500] cursor-pointer"
        >
          + Add New Column
        </button>
        <button
          class="px-[1.3rem] py-[.7rem] rounded-full text-[.8rem] bg-primary text-white font-[500] cursor-pointer"
        >
          Create New Board
        </button>
      </form>
    </section>
  }
</aside>
