/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-primary: #635fc7;
  --color-primary-light: #a8a4ff;

  --color-black: #000112;
  --color-dark: #20212c;
  --color-dark-mid: #2b2c37;
  --color-dark-light: #3e3f4e;

  --color-grey: #828fa3;
  --color-grey-light: #e4ebfa;
  --color-grey-lighter: #f4f7fd;

  --color-white: #ffffff;

  --color-red: #ea5555;
  --color-red-light: #ff9898;
}
